*{
  margin: 0;
  padding: 0;
  user-select: none;
}

.title{
  font-size: 25px;
  color: gray;
  font-weight: bold;
  border-width: 0;
  text-align: center;
}

.G{
  color: #00A86B
}

.p{
  letter-spacing: 4px;
  text-align: center;
  color: gray;
}

.top{
  width: 250px;
}
